<div *ngIf="api.$loaded|async" class="mt-4">
  <div>
    <p>Filter caliber</p>
    <div>

      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="caliber-all"
               [checked]="optionService.ignoredCalibers.length <= 0"
               [disabled]="optionService.ignoredCalibers.length <= 0"
               (click)="selectAllCalibers()"
        >
        <label class="form-check-label" for="caliber-all">
          Select all
        </label>
      </div>
    </div>
    <div class="form-check form-check-inline" *ngFor="let caliber of api.calibers; let i = index">
      <input class="form-check-input" type="checkbox" id="caliber-{{i}}"
             [checked]="!optionService.ignoredCalibers.includes(caliber.name)"
             [disabled]="!optionService.ignoredCalibers.includes(caliber.name) && api.calibers.length - optionService.ignoredCalibers.length <= 1"
             (click)="toggleCaliber(caliber.name)">
      <label class="form-check-label" for="caliber-{{i}}">
        {{caliber.name}}
      </label>
    </div>
  </div>

  <div class="mt-4">
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="limited-choice"
             [checked]="optionService.limitedChoice"
             (click)="toggleLimitedChoice()">
      <label class="form-check-label" for="limited-choice">
        Limited choice
      </label>
      <div class="form-text text-white">
        Uncheck this to show every answer possible (harder)
      </div>
    </div>
  </div>
</div>
