@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";

:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

img {
  width: 100%;
  max-width: 400px;
  margin: auto;
  display: block;
}

.answer {
  height: 100%;
  width: 100%;
  padding: 1rem;
}
