<div class="main-grid">
  <header class="header">
    <app-header></app-header>
  </header>
  <main class="main">
    <div class="container">
      <ng-container *ngIf="api.$loaded|async; else loading">
        <router-outlet></router-outlet>
      </ng-container>

      <ng-template #loading>
        <div class="d-flex align-items-center justify-content-center h-100 w-100">
          <div class="card mt-4 shadow border-primary border-opacity-50 card-600">
            <div class="card-body">
              <div class="text-center">
                <div class="spinner-border text-primary mt-5 mb-3" role="status">
                  <span class="visually-hidden">Loading...</span>
                </div>
              </div>
              <h2 class="text-center text-secondary text-uppercase mb-5">
                Loading...
              </h2>
            </div>
          </div>
        </div>
      </ng-template>
    </div>
  </main>
  <footer class="footer text-center">
    <p class="mb-1">
      Made with <i class="bi bi-heart"></i> by <a target="_blank" href="https://github.com/Bisb">bisb</a>
    </p>
    <p class="mb-1">
      Data and assets provided by <a target="_blank" href="https://tarkov.dev/api">tarkov.dev</a>
    </p>
    <p class="mb-0">
      <a target="_blank" href="https://github.com/Bisb/tarkov-ammo-guesser">
        <i class="bi bi-github"></i>
      </a>
    </p>
  </footer>
</div>
