<div class="container pb-5">
  <h1 class="text-center mt-4 text-uppercase">
    Guess the ammo
  </h1>
  <!--  <h3>Score : {{score}}</h3>-->

  <div class="card mt-4 shadow">
    <div class="card-body">
      <h2 *ngIf="!(api.$loaded|async)">Loading ...</h2>
      <div class="row" *ngIf="api.$loaded|async">
        <div class="col-12">
          <button class="btn btn-secondary d-block ms-auto" (click)="optionsOpened = !optionsOpened">Options</button>
        </div>
        <app-game #game *ngIf="!optionsOpened"></app-game>
        <app-options (onChange)="onOptionChanged()" *ngIf="optionsOpened"></app-options>
      </div>
    </div>
  </div>
</div>
