.table {
  text-align: start;

  tr {
    &:nth-of-type(2n) {
      background-color: #333333;
    }
    &:hover{
      background-color: #3b3b3b;

    }
  }

  td {
    padding: 0.1rem 0.5rem;
  }

  td:nth-of-type(1) {
    color: rgb(173, 175, 174);
  }

  td:nth-of-type(2) {
    font-weight: 600;
  }

  span {
    padding: 0;
    background-color: transparent;
    border-bottom-width: 0;
    box-shadow: none;
  }
}

.links {
  a{
    margin:auto 1rem;
    display: inline-block;
  }
}
